################################################
## useDynLib
################################################

useDynLib(EpiILMCT, .registration = TRUE)


################################################
## import name space
################################################

import(methods)
import(stats)
import(graphics)
import(coda)
import(parallel)
importFrom(igraph,graph)
importFrom(igraph,plot.igraph)
importFrom("utils", "head")

################################################
## functions
################################################

export(contactnet)
export(datagen)
export(loglikelihoodepiILM)
export(as.epidat)
export(epictmcmc)

################################################
## S3 methods:
################################################

S3method(print, epictmcmc)
S3method(print, summary.epictmcmc)
S3method(summary, epictmcmc)
S3method(plot, epictmcmc)
S3method(plot, datagen)
S3method(plot, contactnet)
